<div class="main-report">
  <mat-tab-group>
    <mat-tab label="Creado">
      <div class="tab-report" >
        <mat-card class="report-card" *ngFor="let report of reports">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{report.title}}</mat-card-title>
              <mat-card-subtitle>{{report.type}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{report.justification}}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="En proceso"> Content 2 </mat-tab>
    <mat-tab label="Evaluado"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
