<div class="main-report">
  <mat-tab-group  [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Generación">
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit(formGroup.value)"
        class="createForm"
      >
        <mat-form-field class="form-element">
          <input matInput placeholder="Reason" formControlName="reason" />
          <mat-error
            *ngIf="
              !formGroup.controls['reason'].valid &&
              formGroup.controls['reason'].touched
            "
          >
            {{ getErrorReason() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Deparment" formControlName="deparment" />
          <mat-error
            *ngIf="
              !formGroup.controls['deparment'].valid &&
              formGroup.controls['deparment'].touched
            "
          >
            Validar deparment
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="ReportTo" formControlName="reportTo" />
          <mat-error
            *ngIf="
              !formGroup.controls['reportTo'].valid &&
              formGroup.controls['reportTo'].touched
            "
          >
            validar reportTo
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Type Report</mat-label>
          <mat-select formControlName="type" >
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="subject" formControlName="subject" />
          <mat-error
            *ngIf="
              !formGroup.controls['subject'].valid &&
              formGroup.controls['subject'].touched
            "
          >
            valid subject
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="title" formControlName="title" />
          <mat-error
            *ngIf="
              !formGroup.controls['title'].valid &&
              formGroup.controls['title'].touched
            "
          >
            valid title
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input
            matInput
            placeholder="justification"
            formControlName="justification"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['justification'].valid &&
              formGroup.controls['justification'].touched
            "
          >
            Valid justification
          </mat-error>
        </mat-form-field>

        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="button"
           >
            Submit Form
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Creado">
      <div class="tab-report">
        <mat-card class="report-card" *ngFor="let report of reports">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ report.title }}</mat-card-title>
              <mat-card-subtitle>{{ report.type }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ report.justification }}
          </mat-card-content>

          <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          (click)="updateReportStatus(report.id,'En Progreso')"
         >
          To process
        </button>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="En proceso">       <div class="tab-report">
      <mat-card class="report-card" *ngFor="let report of reports">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ report.title }}</mat-card-title>
            <mat-card-subtitle>{{ report.type }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ report.justification }}
        </mat-card-content>

        <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        (click)="updateReportStatus(report.id,'Solucionado')"
       >
        To process
      </button>
      </mat-card>
    </div> </mat-tab>
    <mat-tab label="Evaluado">       <div class="tab-report">
      <mat-card class="report-card" *ngFor="let report of reports">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ report.title }}</mat-card-title>
            <mat-card-subtitle>{{ report.type }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ report.justification }}
        </mat-card-content>

        <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        (click)="updateReportStatus(report.id,'En Progreso')"
       >
        To process
      </button>
      </mat-card>
    </div></mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
